
@{
    ViewBag.Title = "Charge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">HƯỚNG DẪN THANH TOÁN</h2>

<div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Usdollar100front.jpg" width="1000" />
</div>