
@{
    ViewBag.Title = "Muahang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="text-align:center">HƯỚNG DẪN MUA HÀNG</h2>

    <p><strong style="box-sizing: border-box; line-height: 25.6px; color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px;">Bước 1 – Chọn sản phẩm:</strong><span style="color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 25.6px;">&nbsp;Hãy dạo quanh 1 vòng website , mỗi sản phẩm đều có thông tin, ảnh và video chi tiết để bạn tham khảo. Đừng ngần ngại khi gọi điện đến số&nbsp;</span><strong style="box-sizing: border-box; line-height: 25.6px; color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px;">0898 529 230</strong><span style="color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 25.6px;">&nbsp;để được tư vấn tốt hơn và có sự chọn lựa tốt nhất cho mình. Hãy click vào ô “Kích cỡ” để chọn cho mình 1 size giày phù hợp để đưa sản phẩm vào giỏ hàng.</span></p>
    <p><strong style="box-sizing: border-box; line-height: 28.4444px; color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px;">Bước 2 – Giỏ hàng:&nbsp;</strong><span style="color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 28.4444px;">Tại đây bạn có thể thêm, bớt, sửa thông tin đơn hàng. Tiếp đến bạn click vào nút “Tiến hành thanh toán” và điền thông tin nhận hàng &nbsp;lưu ý thông tin này càng chi tiết, đầy đủ càng tốt nhé), rồi sau đó click vào “ Hoàn Thành Đơn Hàng”</span></p>
    <p><strong style="box-sizing: border-box; line-height: 28.4444px; color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px;">Bước 3 – Nhận hóa đơn:&nbsp;</strong><span style="color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 28.4444px;">Một email xác nhận đơn hàng được gửi vào hòm mail của bạn, vui lòng kiểm tra lại thông tin đặt hàng một lần nữa. Nếu thông tin không chính xác, hãy liên hệ ngay với bộ phận CSKH để được trợ giúp bạn nhé!</span></p>
    <p>
        <strong style="box-sizing: border-box; line-height: 28.4444px; color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px;">Bước 4 – Thanh toán:&nbsp;</strong><span style="color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 28.4444px;">Đối với các khu vực bên ngoài Tphcm, bạn vui lòng chuyển khoản cho Shop 100% giá trị sản phẩm.</span><br style="box-sizing: border-box; color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 28.4444px;">
        <span style="color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 28.4444px;">Đối với khu vực Tphcm, bạn có thể thanh toán khi nhận được hàng và được miễn phí với hóa đơn trên 500.000 vnđ</span>
    </p>
    <p><strong style="box-sizing: border-box; line-height: 28.4444px; color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px;">Bước 5 – Nhận sản phẩm:&nbsp;</strong><span style="color: rgb(119, 119, 119); font-family: Lato, helvetica, arial, sans-serif; font-size: 16px; line-height: 28.4444px;">Nhân viên giao hàng của Shop sẽ chuyển sản phẩm đến tận tay bạn. Khi nhận được sản phẩm, vui lòng kiểm tra lại sản phẩm về màu sắc, chất lượng, kích cỡ… Nếu không hài lòng với sản phẩm nhận được, bạn vui lòng liên hệ với 0898529230 để được trợ giúp.</span></p>
</div>

